* {
    -fx-primary: #515C75;
    -fx-secondary: #D4E1E1;
    -fx-primarytext: #ffffff;
    -fx-light: #63768F;
    -fx-blue: #1976D2;
    -fx-red: #FF0000;
    -fx-light-red: #E8CFCF;
    -fx-light-green: #D4E5D1;
    -fx-color-1: #1976D2;
    -fx-gray: rgba(120, 120, 120, 85);
    -fx-dark-gray: rgba(35, 35, 35, 85);
}

.header {
    -fx-background-color: -fx-primary;
    -fx-font-size: 2em;
    -fx-padding: 1em;
}

.headerBt {
    -fx-text-fill: white;
    -fx-base: transparent;
    -fx-background-color: -fx-primary;
    -fx-focus-color: transparent;
    -fx-border-color: transparent;
    -fx-effect: null;
}

.headerBt:selected {
    -fx-background-color: -fx-light;
    -fx-background: transparent;
}

.headerBt:hover, .HeaderTitles:hover, .HeaderAvatar:hover {
    -fx-opacity: 0.75;
    -fx-background: transparent;
}

.body {
    -fx-background-color: -fx-secondary;
}

.body > * {
    -fx-padding: 10px;
}

.footer {
    -fx-background-color: #727B7D;
    -fx-font-size: 1em;
    -fx-padding: 0.5em; /* px are bad */
}

.connectFour {
    -fx-fill: #0d47a1;
}

.SubNavBox {
    -fx-padding: 0 0 1em 0;
    -fx-spacing: 1em;
}

.SubNavBox > ToggleButton {
    -fx-text-fill: rgba(120, 120, 120, 85);
    -fx-font-size: 1.3em;
    -fx-font-weight: bold;
    -fx-background-color: transparent;
    -fx-border-width: 0 0 2 0;
}

.SubNavBox > ToggleButton:selected {
    -fx-background-color: transparent;
    -fx-border-color: -fx-gray;
}

.SubNavBox > ToggleButton:hover {
    -fx-background-color: transparent;
    -fx-border-color: -fx-dark-gray;
    -fx-text-fill: -fx-dark-gray;
}

.LoginPane {
    -fx-alignment: center ;
}

.LoginPane > * {
    -fx-alignment: center;
    -fx-padding: 0.2em;
}

.LoginPane > * > Label {
    -fx-padding: 0.3em;
}

.LoginPane > * > TextField,PasswordField {
    -fx-prompt-text-fill: -fx-gray;
    -fx-padding: 5px;
}

.History {
    -fx-border: 1 1 1 1;
    /*-fx-border-color: black;*/
    -fx-fill-width: true;

}

.history > * {
    -fx-border: 1 1 1 1;
    /*-fx-border-color: -fx-blue;*/
    /*-fx-fill-height: true;*/
    -fx-spacing: 1em;
}

.history > * > * {
    -fx-border: 2 2 2 2;
    -fx-background-radius: 50px;
    -fx-border-color: #000000;
    -fx-border-radius: 50px;
    -fx-alignment: center;
    -fx-spacing: 2em;

}
.history > * > * > * {
    -fx-min-width: 8em;
    -fx-text-center: true;
}

.versusLabel {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}
.enemyPseudo {
    -fx-font-size: 1em;
    -fx-font-weight: bold;
}
.viewProfile {
    -fx-border: 2 2 2 2;
    -fx-border-color: #000000;
    -fx-border-radius:50px;
    -fx-background-radius: 50px;
}
.historyVictory {
    -fx-background-color: -fx-light-green;
}

.historyVictoryLabel {
    -fx-text-fill: green;
    -fx-font-weight: bold;
}

.historyDefeat {
    -fx-background-color: -fx-light-red;
}

.historyDefeatLabel {
    -fx-text-fill: -fx-red;
    -fx-font-weight: bold;
}

.history > * > * > * {
    -fx-padding: 1em;
    -fx-border: 1 1 1 1;
    /*-fx-border-color: yellow;*/

}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-primary;
    -fx-border-color: -fx-secondary;
    -fx-border-radius: 1em;
    -fx-background-radius: 2em;
    -fx-font-size: 1.2em;
}

.button:hover {
    -fx-border-color: -fx-secondary;
    -fx-background-color: -fx-light;

}

.UserAvatar {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 5;
}
.headerBt:hover, .HeaderTitles:hover, .HeaderAvatar:hover {
    -fx-opacity: 0.75;
    -fx-background: transparent;
    }

.list-cell {
    -fx-cell-size: 50;
    -fx-animated: true;
    -fx-padding: 1px;
}

.list-cell:hover {
    -fx-background-color: #dbdbdb;
}

.list-view {
    -fx-border-image-width: 0;
}

.MessagePane {
    -fx-padding: 10;
    -fx-spacing: 8;
}

.home{
    -fx-font-size: 1.4em;
    -fx-padding: 1em;
    -fx-font-weight: bold;
}

.welcome{
    -fx-font-size: 1.6em;
    -fx-padding: 2em;
}

.invitLab{
    -fx-padding: 1em;
}


.home .right{
    -fx-spacing: 1em;
}
.right {
    -fx-alignment: center;
}
.home .left{
    -fx-spacing: 1.5em;
}

.invite{
    -fx-background-color: #A9B6BE;
    -fx-font-size: 1em;
    -fx-border-color: black;
    -fx-background-radius: 5em;
    -fx-border-radius: 5em;
    -fx-border-width: 0.7px;
}

.logout{
    -fx-background-color: red;
    -fx-padding: 0.5em;
}

.accept{
    -fx-background-color: green;
}

.decline{
    -fx-background-color: red;
}

.center{
    -fx-alignment: center;
    -fx-spacing: 3em;
}

.wr{
    -fx-background-color: -fx-blue;
    -fx-padding: 1em;
}
.overview .left{
    -fx-background-color: lightgray;
    -fx-spacing: 1em;
}

.overview{
    -fx-font-size: 1.4em;
    -fx-font-weight: bold;
}
.overview > * {
    -fx-padding: 1em;
}

.name{
    -fx-font-size: 1.6em;
    -fx-padding: 2em;
}

.win{
    -fx-alignment: center-right;
}

.gms{
    -fx-border-color: red;
}

.admincss .welcome{
    -fx-font-size: 2em;
    -fx-font-weight: bold;
}

.admincss {
    -fx-alignment: center;
    -fx-font-size: 1.5em;
}

.admincss .boutton{
    -fx-alignment: center;
}

.socialLabel{
    -fx-font-weight: bold;
    -fx-font-size: 1.5em;
}
.social, .social > *, .removeFriend{
    -fx-spacing: 1em;
}
.social > * > *{
    -fx-alignment: center;
}
.labelUser{
    -fx-opacity: 0.8;
}